#root {
    height: 100vh;
    width: 100%;
}

.container {
    max-width: 480px;
    max-height: 480px;
    margin: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.box {
    /*min-width: 15px;
    height: 15px;*/
    border: 1px solid black;
    flex: 1;
}